<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить оборудование</title>
    <script src="/static/libraries/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/new_edit_task_manager.js"></script>
    <script src="/static/js/manager_common.js"></script>
    <link rel="stylesheet" href="/static/css/main_template.css">
    <link rel="stylesheet" href="/static/css/forms_new_edit.css">
    <link rel="stylesheet" href="/static/css/forms_manager_boxes.css">
    <link rel="stylesheet" href="/static/css/tables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
        let equipmentManager = new EquipmentManager();
        let incidentManager = new IncidentManager();
    </script>
</head>
<body>
<div class="main_div">
    <div th:insert="main_template::menu"></div>
    <div class="content_div">
        <div id="resultDiv">
            <div id="resultContent" style="height: 800px">
                <div class="page_label">Создать задачу</div>
                <div class="form_new" style="padding-top: 30px">
                    <form th:method="POST" th:action="@{/equipment/save}" th:object="${equipment}">
                        <div class="labels">
                            <div><label for="title">Наименование:</label></div>
                            <div><label for="serial">Серийный номер:</label></div>
                            <div><label for="equipmentClass">Класс:</label></div>
                        </div>
                        <div class="fields">
                            <div><input id="title" class="placeholder" type="text" th:field="*{name}" placeholder="Введите текст"></div>
                            <div><input id="serial" class="placeholder" type="text" th:field="*{serial}" placeholder="Введите текст"></div>
                            <div><select id="equipmentClass" th:object="${equipment.equipmentClass}" th:field="*{id}" style="height: 25px; border-radius: 3px">
                                <option th:each="class: ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
                            </select></div>


                            <div><input class="submitButtons" onclick="document.getElementById('spinner').style.display = 'block'" type="submit" value="Добавить"/></div>

                            <div th:if="${#fields.hasErrors('name')}" style="color: red"><span  th:errors="*{name}"></span></div>
                            <div th:if="${#fields.hasErrors('serial')}" style="color: red"><span th:errors="*{serial}"></span></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="select_box">
    <div class="cross" onclick="closeManagerWindow()"></div>
    <div id="selectorContent"></div>
    <div id="selectorNavigation" style="height: 25px; margin: 5px auto"></div>
</div>
<div class="spinner" id="spinner"></div>
</body>
<script>
    window.onload = function () {
        document.getElementById('b2').style.backgroundColor = 'rgb(192, 192, 192)';
    }

</script>
</html>